<footer>
      <p> Alle Textdaten, die in diesem Projekt verwendet werden, stammen aus der Ausgabe von Albert Leitzmann (Hrsg.) (1903), <i>Wilhelm von Humboldts Werke.</i> Berlin: Königlich Preussischen Akademie der Wissenschaften. Die Originaltexte sind gemeinfrei. Die Digitalausgabe, einschließlich der TEI-XML-Formatierung und der hinzugefügten Metadaten dieser Website, unterliegt der Creative Commons-Lizenz CC BY-NC-SA 4.0.
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">
    <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="CC BY-NC-SA 4.0 License"/>
  </a> 

    </p>
</footer>